{% extends "base.html" %}

{% block content %}
    

    <div class="login-container">
      <div class="col-md-6">
        <h1 class="title mt-5">Please Registration</h1>
        <form action="" onsubmit="handleRegistration(event)">
          <p id="error" class="text-danger"></p>
          <input
            id="username"
            type="text"
            class="input"
            placeholder="username"
            required
          />
          <input
            id="first_name"
            type="text"
            class="input"
            placeholder="First Name"
            required
          />
          <input
            id="last_name"
            type="text"
            class="input"
            placeholder="last Name"
            required
          />

          <input
            id="email"
            type="email"
            class="input"
            placeholder="Email"
            required
          />
          <input
            id="password"
            type="password"
            class="input"
            placeholder="password"
            required
          />
          <input
            id="confirm_password"
            type="password"
            class="input"
            placeholder="Confirm password"
            required
          />
          <input type="submit" class="submit-btn" value="Registration" />
        </form>
      </div>
      <div class="col-md-6">
        <img class="w-100" src="./Images/login.png" alt="" />
      </div>
    </div>


{% endblock content %}

